
<style>
    .client-body {
        margin-top:20px;
        z-index:-1;
    }
    
    .clientDataSection {
        height:70vh;
        overflow-y:auto;
        overflow-x:hidden;
    }
/*    tbody {*/
/*    display:block;*/
/*    height:65vh;*/
/*    overflow:auto;*/
/*}*/
/*  thead, tbody tr {*/
/*    display:table;*/
/*    width:100%;*/
/*    table-layout:fixed;*/
/*}*/
.error {
    padding:5px;
    margin-bottom:10px;
    background-color:#ff4444;
    border-radius:5px;
    color:#fff;
    display:none;
    }


</style>
<div class="container-fluid">
    <div style="margin-top:70px;"></div>
    <h3 class="text-center">Register Clients</h3>
    <div class="client-body" id="clientBody">
        <form>
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Clients" class="searchClients" onkeyup="getClients(this.value)">
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                    <button type="button" class="btn btn-primary newClient" data-toggle="modal" data-target="#newclientsModal" id="newClient">New Client</button>
                  </div>
              </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped table-dark">
                <thead style="background:#3F729B;">
                  <tr>
                    <th>Full name</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="client_table_body">
                  <%  data.forEach(function(content){ %>
                  <tr >
                    <td><%= content.full_name%></td>
                    <td><%= content.pnum%></td>
                    <td><%= content.email%></td>
                    <td><%= content.address%></td>
                    <td>
                        <a href="mailto:<%=content.email%>" class="btn btn-dark btn-sm" ><i class="far fa-envelope-open"></i> Send Email</a>
                        <button class="btn btn-info btn-sm openEditModal" id="<%= content._id%>" data-toggle="modal" data-target="#editClientModal"><i class="far fa-edit"></i> Edit</button>
                        <button class="btn btn-danger btn-sm deleteMessage" id="<%= content._id%>" data-toggle="modal" data-target=".deleteMessageModal"><i class="far fa-trash-alt"></i> Delete</button>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
        </div>
    </div>
    <% if (pages && pages > 0) { %>
    <ul class="pagination justify-content-center">
        <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link" style="display:none;">First</a></li>
        <% } else { %>
        <li class="page-item" ><a href="/clients" class="page-link" >First</a></li>
        <% } %>
 
        <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link" style="display:none;">Previous</a></li>
        <% } else { %>
        <li class="page-item"><a href="/clients?page=<%= Number(current) - 1 %>" class="page-link" >Previous</a></li>
        <% } %>
 
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <li class="page-item active"><a class="page-link"><%= i %></a></li>
        <% } else { %>
        <li class="page-item"><a href="/clients?page=<%= i %>" class="page-link"><%= i %></a></li>
        <% } %>
       
        <% } %>
 
        <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link" style="display:none;">Next</a></li>
        <% } else { %>
        <li class="page-item"><a href="/clients?page=<%= Number(current) + 1 %>" class="page-link">Next</a></li>
        <% } %>
 
        <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link" style="display:none;">Last</a></li>
        <% } else { %>
        <li class="page-item"><a href="/clients?page=<%= pages %>" class="page-link">Last</a></li>
        <% } %>
    </ul>
    <% } %>

</div>

<!-- New Client Modal -->
<div class="modal fade" id="newclientsModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-color:#fafafa  ;">
      <div class="modal-header" style="margin: 0 auto;">
        <h5 id="label_text">New Client</h5>
      </div>
      <div class="modal-body">
        <form action="javascript:void(0)">
            <div class="error" id="error">
             <p class="text-center" style="padding-top:10px;">Client already exist</p>
           </div>
          <div class="form_1" style="display:block;">
           
             <div class="row " style=" background-color:#e0f2f1; padding:10px;">
               <div class="col-md-12">
                <div class="form-group">
                  <label for="cfirst_name">Full Name</label>
                  <input class="form-control" name="cfirst_name" id="cfirst_name" autocomplete="on">
                </div>
              </div>
              <!--<div class="col-md-4">-->
              <!--  <div class="form-group">-->
              <!--    <label for="clast_name">Last Name</label>-->
              <!--    <input class="form-control " name="clast_name" id="clast_name" >-->
              <!--  </div>-->
              <!--</div>-->
              <div class="col-md-4" style="display:none;">
                <div class="form-group">
                  <label for="cfull_name">Full Name</label>
                  <input class="form-control" name="cfull_name" id="cfull_name" disabled>
                </div>
              </div>
             </div>
              <div class="row "  style=" background-color:#ffe082 ; padding:10px;">
                <div class="col-md-4">
                <div class="form-group">
                  <label for="cpnum">Phone Number</label>
                  <input class="form-control" name="cpnum" id="cpnum">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="cemail">Email</label>
                  <input class="form-control" name="cemail" id="cemail" type="email">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="address">Address</label>
                  <input class="form-control" name="address" id="address">
                </div>
              </div>
              </div>
              <div class="row"  style=" background-color:#c5e1a5 ; padding:10px;">
                 <div class="col-md-4">
                  <div class="form-group">
                    <label for="state">State</label>
                    <select class="form-control" id="state" name="State">
                      <option>Select a state</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="city">City</label>
                    <select class="form-control" id="city" name="city">
                      <option>Select a city</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="zipcode">Zip Code</label>
                    <input class="form-control" name="zipcode" id="zipcode">
                  </div>
                </div>
              </div>
              <div class="row"  style=" background-color:#a5d6a7; padding:10px;">
                 <div class="col-md-3">
                    <div class="form-group">
                      <label for="tax">IRS Tax ID</label>
                      <input class="form-control" name="tax" id="tax">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="passport">Passport</label>
                      <input class="form-control" name="passport" id="passport">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="fax">Fax</label>
                      <input class="form-control" name="fax" id="fax">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="ssn">Social Security Number</label>
                      <input class="form-control" name="ssn" id="ssn">
                    </div>
                  </div>
              </div>
          </div>
          
          <div id="loading_form" style="text-align:center;display:none;">
            <img src="http://www.dariusland.com/images/load.gif" style="width:200px; height:200px;"/>
            <p>Saving and Redirecting to consignee</p>
          </div>
          
          <div class="form_2" style="display:none;">
             <div class="row " style=" background-color:#e0f2f1; padding:10px;">
                <span class="client_id" id=""></span>
               <div class="col-md-12">
                <div class="form-group">
                  <label for="cfirst_name">Full Name</label>
                  <input class="form-control" name="ccfirst_name" id="ccfirst_name">
                </div>
              </div>
             
              
             </div>
              <div class="row "  style=" background-color:#ffe082 ; padding:10px;">
                <div class="col-md-4">
                <div class="form-group">
                  <label for="cpnum">Phone Number</label>
                  <input class="form-control" name="ccpnum" id="ccpnum">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="cemail">Email</label>
                  <input class="form-control" name="ccemail" id="ccemail" type="email">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="careof">Care Of</label>
                  <input class="form-control" name="careof" id="careof">
                </div>
              </div>
              </div>
              <div class="row"  style=" background-color:#c5e1a5 ; padding:10px;">
                 <div class="col-md-4">
                  <div class="form-group">
                    <label for="country">Country</label>
                    <select class="form-control" id="ccountry" name="ccountry">
                      <option>Select a Country</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input class="form-control" name="caddress" id="caddress">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="state">State</label>
                    <input class="form-control" name="cstate" id="cstate">
                  </div>
                </div>
              </div>
              <div class="row"  style=" background-color:#a5d6a7; padding:10px;">
                 <div class="col-md-3">
                    <div class="form-group">
                      <label for="city">City</label>
                      <input class="form-control" name="ccity" id="ccity">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="postalcode">Postal Code</label>
                      <input class="form-control" name="cpostalcode" id="cpostalcode">
                    </div>
                  </div>
                  
              </div>
        
          </div>
              
        </form>
         
      </div>
      <div class="modal-footer" id="btn_group">
       <div id="btn_group_client" style="display:block">
          <button type="button" class="btn btn-warning" id="saveandfillconsignee">Save and Fill Consignee</button>
          <button type="button" class="btn btn-info" id="saveandnew">Save and New</button>
          <button type="button" class="btn btn-primary" id="saveandclose">Save and close</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closemodal_client">Close</button>
       </div>
       <div id="btn_group_consignee" style="display:none;">
          <button type="button" class="btn btn-primary" id="saveandclose_c">Save and close</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closemodal_cosignee">Close</button>
       </div>
      </div>
    </div>
  </div>
</div>


<!-- Edit Client Modal -->
<div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-color:#fafafa;">
      <div class="modal-header" style="margin: 0 auto;">
        <h5>Edit Client</h5>
      </div>
      <div class="modal-body" id="editmodal_body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary updateRecord" id="">Update Record</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closemodal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Delete Client-->
<div class="modal fade deleteMessageModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
         <div style="padding:10px;text-align:center;">
           <p>Delete this data ?</p>
           <span id="client_id"></span>
           <button class="btn btn-info" data-dismiss="modal">Cancel</button>
           <button class="btn btn-danger delete" id="">Delete</button>
         </div>
    </div>
  </div>
</div>



<div class="nodata" style="text-align:center;font-size:40px;display:none;">
  <p>
    <i class="fas fa-users"></i><br>
    <span class="nodata_text">No Client Found...</span>
  </p>
</div>



<script src="/js/client.js"></script>