
<style>
    .client-body {
        margin-top:20px;
        z-index:-1;
    }
    
    .clientDataSection {
        height:70vh;
        overflow-y:auto;
        overflow-x:hidden;
    }
    
    .loader {
            width:100px;
            height:100px;
            top:0;
            margin-top:40vh;
            margin-left:79vh;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top-color: #1abc9c;
            border-bottom-color: #3498db;
            animation: coloredspin 4s linear infinite;
            display:none;
            position:absolute;
            z-index:1;

        }
        .loader1 {
            width:100px;
            height:100px;
            margin-left:48vh;
            top:0;
            margin-top:100px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top-color: #1abc9c;
            border-bottom-color: #3498db;
            animation: coloredspin 4s linear infinite;
            display:none;
            position:absolute;
            z-index:1;

        }
        @keyframes coloredspin {
              0%{
                transform: rotate(0deg) scale(1);
                border-top-color: #1abc9c;
                border-bottom-color: #1abc9c;
              }
              25% {
                border-top-color: #2ecc71;
                border-bottom-color: #2ecc71;
              }
              50% {
                transform: rotate(360deg) scale(1.05);
                border-top-color: #3498db;
                border-bottom-color: #3498db;
              }
              75% {
                border-top-color: #9b59b6;
                border-bottom-color: #9b59b6;
              }
              100%{
                transform: rotate(720deg) scale(1);
                border-top-color: #1abc9c;
                border-bottom-color: #1abc9c;
              }
            }
            
            

</style>
<div class="container-fluid">
    <div style="margin-top:70px;"></div>
    <h3 class="text-center">ECTN</h3>
    <div class="client-body" id="clientBody">
        <form>
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                    <select class="form-control" id="clients_dropdown">
                        <option>Display data per client</option>
                        <% clientsData.forEach(function(clients){ %>
                           <option value="<%=clients._id%>"><%=clients.full_name%></option>
                        <% }) %>
                    </select>
                  </div>
              </div>
             
              <div class="col-md-8">
                  <div class="form-group" style="float:right;">
                    <button type="button" class="btn btn-warning newCargo" id="newCargo" onclick="location.reload()"><i class="fas fa-sync-alt"></i> Reload Page Data</button>
                  </div>
              </div>
            </div>
        </form>
            <table class="table table-striped">
                <thead class="table-success">
                  <tr>
                    <th>Date Added</th>
                    <th>Clients Name</th>
                    <th style="background-color:#00897b  ;color:#fff;">Container Number</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="table_body">
                <% foundAllData.forEach(function(content){ %>
                  <tr id="rowID">
                    <td><%=(moment.parseZone(content.createdAt).format('l') === moment.parseZone(new Date()).format('l') ? 'Today': moment(content.createdAt).format("ll"))%></td>
                    <td><%=content.Client[0].full_name%></td>
                    <td><%=content.container_num%></td>
                    <td>
                      <% if( !content.invoice_exist ){ %>
                        <button class="btn btn-primary btn-sm new_invoiceBTN"  id="<%=content._id%>" data-target="#new_invoice" data-toggle="modal" ><i class="far fa-file"></i> New ECTN Form</button>
                      <% } %>
                       <% if( content.invoice_exist ){ %>
                            <a class="btn btn-warning btn-sm " href="/ectn/<%=content._id%>/email/<%=content.Client[0]._id%>/cargo/<%=content.Cargo%>/consignee/<%=content.Consignee%>/booking_c/<%=content.BookingConfirmation%>"><i class="fas fa-envelope-open"></i> Email</a>
                            <a class="btn btn-info btn-sm" href="/ectn/<%=content._id%>/editRoute"><i class="far fa-edit"></i> Edit</a>
                         <% } %>
                    </td>
                  </tr>
                 <% }) %>
                </tbody>
              </table>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="new_invoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New Invoice</h5>
        <p class="cargo_id" id=""></p>
        <p class="bookingc_id" id=""></p>
        <button type="button" class="close" onclick="location.reload()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <input class="dock_r_id" value="" type="hidden">
         <div class="row">
             <div class="col-md-4">
                  <div class="form-group">
                      <label>Ocean Freight</label>
                      <input type="text" class="form-control" id="ocean_freight" name="ocean_freight">
                  </div>
             </div>
             <div class="col-md-4">
                  <div class="form-group">
                      <label>Truck</label>
                      <input type="text" class="form-control" id="truck" name="truck">
                  </div>
             </div>
             <div class="col-md-4">
                  <div class="form-group">
                      <label>ECTN/BESC</label>
                      <input type="text" class="form-control" id="ectn_becs" name="ectn_becs">
                  </div>
             </div>
             <div class="col-md-4">
                  <div class="form-group">
                      <input type="text" class="form-control" id="label_charge3" name="label_charge3" placeholder="Label">
                      <input type="text" class="form-control" id="extra_charges" name="extra_charges" placeholder="Charge Amount">
                  </div>
             </div>
             <div class="col-md-4">
                  <div class="form-group">
                     <input type="text" class="form-control" id="label_charge1" name="label_charge1" placeholder="Label">
                      <input type="text" class="form-control" id="more_invoice_fields" name="more_invoice_fields" placeholder="Charge Amount">
                  </div>
             </div>
             <div class="col-md-4">
                  <div class="form-group">
                      <input type="text" class="form-control" id="label_charge2" name="label_charge2" placeholder="Label">
                      <input type="text" class="form-control" id="more_invoice_fields_2" name="more_invoice_fields_2" placeholder="Charge Amount">
                  </div>
             </div>
             <div class="col-md-4">
                  <div class="form-group">
                      <input type="text" class="form-control" id="label_charge4" name="label_charge4" placeholder="Label">
                      <input type="text" class="form-control" id="more_invoice_fields_3" name="more_invoice_fields_3" placeholder="Charge Amount">
                  </div>
             </div>
             <div class="col-md-4">
                  <div class="form-group">
                      <label>Invoice Total</label>
                      <input type="text" class="form-control" id="invoice_total" name="invoice_total">
                  </div>
             </div>
             <div class="col-md-4">
                  <div class="form-group">
                      <label>Balance Due</label>
                      <input type="text" class="form-control" id="balance_due" name="balance_due">
                  </div>
             </div>
             <div class="col-md-12">
                <button class="btn btn-success" id="calulate_invoice">Calculate</button>
             </div>
         </div>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-primary createForm" id="">Create Form</button>
        <!--<button type="button" class="btn btn-primary createFormAndEmail">Create Form and Email</button>-->
        <button type="button" class="btn btn-secondary" onclick="location.reload()">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="loader"></div>
<div class="nodata" style="text-align:center;font-size:40px;display:none;">
  <p>
    <i class="fas fa-people-carry"></i><br>
    <span class="nodata_text">No Cargo Found</span>
  </p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<script src="/js/ectn.js"></script>
<script>
   $(document).on("click", "#calulate_invoice", function(e) {
         e.preventDefault();
          var ocean_freight = parseFloat($("#ocean_freight").val()) || 0;
        var truck = parseFloat($("#truck").val()) || 0;
        var ectn_becs = parseFloat($("#ectn_becs").val()) || 0;
        var extra_charges = parseFloat($("#extra_charges").val()) || 0;
        var invoice_total = parseFloat($("#invoice_total").val()) || 0;

        var more_invoice_fields = parseFloat($("#more_invoice_fields").val()) || 0;
        var more_invoice_fields_2 = parseFloat($("#more_invoice_fields_2").val()) || 0;
        var more_invoice_fields_3 = parseFloat($("#more_invoice_fields_3").val()) || 0;

       var total_invoice = 0;
       total_invoice = ocean_freight + truck + ectn_becs + extra_charges + invoice_total + more_invoice_fields + more_invoice_fields_2 + more_invoice_fields_3;
     
         $("#invoice_total").val(total_invoice.toFixed(2));
     });
</script>