<html>
    <head>
        <title>Auto Fill Form</title>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<style>
   


</style>
</head>
<body>

<style>
    .client-body {
        margin-top:20px;
        z-index:-1;
    }
    
    .clientDataSection {
        height:70vh;
        overflow-y:auto;
        overflow-x:hidden;
    }
    
    .loader {
            width:100px;
            height:100px;
            top:0;
            margin-top:40vh;
            margin-left:79vh;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top-color: #1abc9c;
            border-bottom-color: #3498db;
            animation: coloredspin 4s linear infinite;
            display:none;
            position:absolute;
            z-index:1;

        }
        @keyframes coloredspin {
              0%{
                transform: rotate(0deg) scale(1);
                border-top-color: #1abc9c;
                border-bottom-color: #1abc9c;
              }
              25% {
                border-top-color: #2ecc71;
                border-bottom-color: #2ecc71;
              }
              50% {
                transform: rotate(360deg) scale(1.05);
                border-top-color: #3498db;
                border-bottom-color: #3498db;
              }
              75% {
                border-top-color: #9b59b6;
                border-bottom-color: #9b59b6;
              }
              100%{
                transform: rotate(720deg) scale(1);
                border-top-color: #1abc9c;
                border-bottom-color: #1abc9c;
              }
            }
            
            

</style>
<div class="container-fluid">
    <div style="margin-top:10px;"></div>
    <h3 class="text-center">All POA/NRA FORM FOR </h3>
    <h3 class="text-center"><span style="color:#3F729B;"><%=clientName.full_name%></span></h3>
    <div class="client-body" id="clientBody">
       <form>
            <div class="row">
              
              <div class="col-md-8">
                  <div class="form-group">
                    <a href="/autofill" class="btn btn-danger">Back</a>
                  </div>
              </div>
              <div class="col-md-4" >
                  <div class="form-group" style="float:right;">
                    <button type="button" class="btn btn-warning newCargo" id="newCargo" onclick="location.reload()"><i class="fas fa-sync-alt"></i> Reload Page Data</button>
                  </div>
              </div>
            </div>
        </form>
            <table class="table table-striped">
                <thead class="table-success">
                  <tr>
                    <th>Date Added</th>
                    <th>Clients Name</th>
                    <th style="background-color:#00897b  ;color:#fff;">Type of Shipment</th>
                    <th>Port of Discharge</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="table_body">
                <% foundAllData.forEach(function(content){ %>
                  <tr id="rowID">
                    <td><%=(moment.parseZone(content.createdAt).format('l') === moment.parseZone(new Date()).format('l') ? 'Today': moment(content.createdAt).format("ll"))%></td>
                    <td><%=content.Client[0].full_name%></td>
                    <td><%=content.typeofshipment%></td>
                    <td><%=content.port_of_discharge%></td>
                    <td>
                        <a class="btn btn-info btn-sm" href="/autofill_new/<%=content._id%>"><i class="far fa-edit"></i> Auto fill this form</a>
                    </td>
                  </tr>
                 <% }) %>
                </tbody>
              </table>
    </div>
</div>


<!--Delete Client-->
<div class="modal fade deleteMessageModal1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
         <div style="padding:10px;text-align:center;">
           <p>Delete this data ?</p>
           <span id="client_id"></span>
           <button class="btn btn-info" data-dismiss="modal">Cancel</button>
           <button class="btn btn-danger delete1" id="">Delete</button>
         </div>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>

</body>
</html>