<!DOCTYPE html>
<html>
<head>
    <title>Edit RORO Receipt</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <!--<link rel="stylesheet" href="/css/newcargo.css">-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        body {
            background-color:#fafafa ;
        }
        .cargoSection {
            width:70%;
            margin:0 auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            background-color: #fff;
            border-radius:5px;
            margin-bottom:20px;
            padding:20px;
        }
           .cargoDataFields:nth-of-type(odd){
              background-color: #e8f5e9 ;
            }

            .cargoDataFields:nth-of-type(even){
              background-color: #bbdefb ;
            }

.s1 {
    padding:10px;
}

    </style>
</head>
<body>
   <div class="container-fluid"><br>
      <div class="cargoSection">
          <h3 class="text-center" style="padding:20px;color:#3F729B;">Editing RORO Receipt For <%=foundData.Client[0].full_name%> </h3>
          <button class="btn btn-warning next_1"  id="<%=foundData.Cargo[0]%>" data-toggle="modal" data-target="#FormModal"><i class="fas fa-pencil-alt"></i> Edit Cargo Weight</button>
          <br><br>
          <form action="/r_r/<%=foundData._id%>/edit" method="POST">
              <div class="section4" style="display:block;">
                <div style="border:1px solid #eeeeee  ;padding:10px;">
                    <h5 style="text-align:center;">Notify Party</h5>
                    <div class="row">
                        <div class="col-md-12">

                          <div class="form-group">
                               <label>Name</label>
                               <input class="form-control" name="n_name" value="<%=foundData.n_name%>">
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="form-group">
                               <label>Address</label>
                               <input class="form-control" name="n_address" value="<%=foundData.n_address%>">
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="form-group">
                               <label>Country</label>
                               <input class="form-control" name="n_country" value="<%=foundData.n_country%>">
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="form-group">
                               <label>Phone Number</label>
                               <input class="form-control" name="n_pnum" value="<%=foundData.n_pnum%>">
                          </div>
                       </div>
                    </div>
                </div>
                <br>
                <div style="border:1px solid #eeeeee;padding:10px;">
                    <h5 style="text-align:center;">Marsk</h5>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                               <label>Freight</label>
                               <input class="form-control" name="seal_num" value="<%=foundData.seal_num%>">
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="form-group">
                               <label>Demurrage</label>
                               <input class="form-control" name="demurrage" value="<%=foundData.demurrage%>">
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="form-group">
                               <label>In Transit</label>
                               <input class="form-control" name="container_num" value="<%=foundData.container_num%>">
                          </div>
                       </div>
                        <div class="col-md-4">
                          <div class="form-group">
                               <label>Unit</label>
                               <input class="form-control" name="unit" value="<%=foundData.unit%>">
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="form-group">
                               <label>AES Number</label>
                               <input class="form-control" name="aes_num" value="<%=foundData.aes_num%>">
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="form-group">
                               <label>Originals to be released</label>
                               <input class="form-control" name="originals_tobe_released" value="<%=foundData.originals_tobe_released%>">
                          </div>
                       </div>
                       <div class="col-md-4" style="font-size:20px;">
                         <div class="form-group">
                             <label>Client as Agent</label><br>
                             <label class="radio-inline " style="margin-right:30px;">
                               <input type="radio" name="cleint_is_agent" id="yes" Value="Yes" <%= foundData.cleint_is_agent === "Yes" ? "checked" : "" %>> Yes
                             </label>
                             <label class="radio-inline">
                                <input type="radio" name="cleint_is_agent" id="no" value="No" <%= foundData.cleint_is_agent === "No" ? "checked" : "" %>> No
                             </label>
                         </div>
                     </div>
                     <div class="col-md-4">
                          <div class="form-group">
                               <label>Fowarding Agent References</label>
                               <textarea class="form-control" id="fowarding_agent_ref" style="resize:none;" name="fowarding_agent_ref"><%=foundData.fowarding_agent_ref%></textarea>
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="form-group">
                               <label>For Transhipment to</label>
                               <input class="form-control" id="for_transhipment_to" name="for_transhipment_to" value="<%=foundData.for_transhipment_to%>">
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="form-group">
                               <label>Point and country of origin</label>
                               <input class="form-control" id="point_and_contry_of_origin"  name="point_and_contry_of_origin" value="<%=foundData.point_and_contry_of_origin%>">
                          </div>
                       </div>
                    </div>
                </div>
         </div>

            <button type="submit" class="btn btn-primary">Update and Return</button>
            <a class="btn btn-danger" href="/roro_r" style="float:right;">Return back</a>
          </form>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Cargo Weight</h5>
        <p class="cargo_id" id=""></p>
        <button type="button" class="close" onclick="location.reload()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="section2" style="display:block;">
               <div class="row section2_row"></div>
         </div>
      </div>
    </div>
  </div>
</div>




<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<!-- jQuery library -->


<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {


    $(document).on("click", ".next_1", function() {

        var cargo_id = $(this).attr("id");


        $(".cargo_id").attr("id", cargo_id);

        //display cargo weight data
        //ajax call for one cargo
        $.get("/roro/" + cargo_id + "/oneCargo", function(data) {
          //console.log(data.Cars.length)
          //console.log(data)
          if (data.Cars.length !== 0) {
              data.Cars.forEach(function(content, index) {
                  var car_number = parseInt(index, 10) + 1
                  var html = '';

                  html += '<div class="col-md-6"><div class="form-group">';
                  html += '<label>Car ' + car_number + '</label><input class="form-control" id="cardetails" value="' + content.cardetails + '" disabled>';
                  html += '</div>';
                  html += '</div>';
                  html += '<div class="col-md-3">';
                  html += '<div class="form-group">';
                  html += `<label>Weight</label><input class="form-control weight" id="${content._id}" value="${ content.weight === undefined ? 0 : content.weight }" type="number" step="any">`;
                  html += '</div>';
                  html += '</div>';
                  html += '<div class="col-md-3">';
                  html += '<div class="form-group">';
                  html += `<label>Measurement</label><input class="form-control measurement" id="${ content._id }" value="${ content.measurement === undefined ? 0 : content.measurement}" type="number" step="any">`;
                  html += '</div>';
                  html += '</div>';
                  //  alert()
                  $(".section2_row").append(html);

              });
          }

          var personal_effect = '';

          personal_effect += '<div class="col-md-8">';
          personal_effect += '<div class="form-group">';
          personal_effect += '<label>Personal Effects</label>';
          personal_effect += '<textarea class="form-control" name="personal_effect" rows="6" style="resize:none;" id="personal_effect" disabled>' + data.personal_effect + '</textarea>';
          personal_effect += '</div>';
          personal_effect += '</div>';
          personal_effect += '<div class="col-md-4">';
          personal_effect += '<div class="form-group">';
          personal_effect += '<label>Weight</label>';
          personal_effect += `<input class="form-control personal_effect_weight" id="${data._id }" value = "${data.personal_effect_weight === undefined ? 0 : data.personal_effect_weight}" type="number" step="any" >`;
          personal_effect += '<label>Measurement</label>';
          personal_effect += `<input class="form-control personal_effect_m" id="${ data._id }" value = "${data.personal_effect_m === undefined ? 0 : data.personal_effect_m }" type="number" step="any"><br>`;
          personal_effect += '<button class="btn btn-info next_2" > Update and Close</button>'
          personal_effect += '</div>';
          personal_effect += '</div>';
          personal_effect += '<div class="col-md-12"><div class="form-group">';
          personal_effect += '<label style="color:#3F729B;">Total Weight</label>';
          personal_effect += '<input class="form-control total_weight" id="total_weight"   value="' + data.total_weight + '"> ';
          personal_effect += '</div>';
          personal_effect += '</div>';


          $(".section2_row").append(personal_effect);

          var g = document.getElementsByClassName("weight");
          var m = document.getElementsByClassName("measurement");
          //weight calculation
          $(".next_2").click(function() {
if ($(".total_weight").val() === "") {

              var total_weight = 0;

              var data = {};
              var personal_effect_weight = parseFloat($(".personal_effect_weight").val()) || 0;
              var personal_effect_m = parseFloat($(".personal_effect_m").val()) || 0;

              for (var i = 0; i < g.length; i++) {
                  if (g[i].value !== "") {
                      total_weight += parseFloat(g[i].value);
                  }
                  //update cargo db
                  data.cargo_id_11 = $(".cargo_id").attr("id");
                  data.car_id = g[i].id;
                  data.weight = g[i].value;
                  console.log(total_weight);
                  $.post("/_update_cargo_dock_1_/roro", { data: data }, function(result) {
                      //console.log(result);
                  });
                  //    }

              }
              $(".total_weight").val(total_weight + personal_effect_weight);
              //alert(personal_effect_weight)

              for (var i = 0; i < m.length; i++) {
                  //update cargo db
                  data.cargo_id_11 = $(".cargo_id").attr("id");
                  data.car_id = m[i].id;
                  data.measurement = m[i].value;
                  //  console.log(data);
                  $.post("/_update_cargo_dock_3_/roro", { data: data }, function(result) {
                      //console.log(result);
                  });

              }



              //update total weight and personal effect
              data.personal_effect_weight = personal_effect_weight;
              data.personal_effect_m = personal_effect_m;
              data.total_weight = $(".total_weight").val();
               data.cargo_id_11 = $(".cargo_id").attr("id");
              $.post("/_update_cargo_dock_2_/roro", { data: data }, function(result) {
                  //  console.log(result);
              });
                   location.reload();
} else {
  var total_weight = 0;

              var data = {};
              var personal_effect_weight = parseFloat($(".personal_effect_weight").val()) || 0;
              var personal_effect_m = parseFloat($(".personal_effect_m").val()) || 0;

              for (var i = 0; i < g.length; i++) {
                  if (g[i].value !== "") {
                      total_weight += parseFloat(g[i].value);
                  }
                  //update cargo db
                  data.cargo_id_11 = $(".cargo_id").attr("id");
                  data.car_id = g[i].id;
                  data.weight = g[i].value;
                  console.log(total_weight);
                  $.post("/_update_cargo_dock_1_/roro", { data: data }, function(result) {
                      //console.log(result);
                  });
                  //    }

              }
              //alert(personal_effect_weight)

              for (var i = 0; i < m.length; i++) {
                  //update cargo db
                  data.cargo_id_11 = $(".cargo_id").attr("id");
                  data.car_id = m[i].id;
                  data.measurement = m[i].value;
                  //  console.log(data);
                  $.post("/_update_cargo_dock_3_/roro", { data: data }, function(result) {
                      //console.log(result);
                  });

              }


  var data = {};
                  //update total weight and personal effect

                  data.personal_effect_weight = 0;
                  data.personal_effect_m = 0;
                  data.total_weight = $(".total_weight").val();
                  data.cargo_id_11 = $(".cargo_id").attr("id");
                  $.post("/_update_cargo_dock_2_/roro", { data: data }, function(result) {
                        console.log(result);
                  });
                  location.reload();
}
          });



      });

    });

    });
</script>

</body>
</html>
